<form action = "/preferences" method = "POST">
<!-- age -->
<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
                <label for = "ages">Age :</label>
                <select class="ages"></select>
                </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>

<!-- gender -->
<div class = "container" style = "text-align:center">
<div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
                <label for = "gender"> Gender: </label>
                <select class= "gender"></select>
             </div>
            </div>
        <div class = "col-xs-4"></div>
</div>
</div>



<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
                <label for = "distance"> Max Distance: </label>
                <select class= "distance"></select>
            </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>

<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
                <label for = "height"> Height: </label>
                <select class= "height"></select>
            </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>


<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
                <label for = "religion"> Religion: </label>
                <select class= "religion"></select>
            </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>


<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
                <label for = "politics"> Politics: </label>
                <select class= "politics"></select>
            </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>


<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
            <div>
            <label for = "statefrom"> Hometown: </label>
           <select class= "statefrom"></select>
            </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>

<div class = "container" style = "text-align:center">
    <div class = "row">
        <div class = "col-xs-4"></div>
            <div class = "col-xs-4">
                <input type="submit" class="btn btn-info" value="Submit">
            </div>
            </div>
        <div class = "col-xs-4"></div>
    </div>
</div>



</form>